<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">
    </script>
    <style>
        td {
            color: blue;
        }
    </style>
</head>
<body>
    <form>
        <table>
            <tbody>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="email" id="email"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" id="password"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <button type="button" id="btn" style="color:rgb(11, 57, 95);">
            Đăng Nhập
        </button>
    </form>
</body>
<script>
    $("#btn").click(() => {
        var email = $("#email").val()
        var password = $("#password").val()
        $.ajax({
            url: "/login",
            method: "POST",
            data: {
                email: email,
                password: password
            }
        }).then((data) => {
            if(!data.error) {
                return window.location.href = 'http://localhost:3003/home'
            }
            return console.log(data) // không console.log() => alert()
        }).catch((err) => {
            console.log(err)
        });
    })
</script>
</html>