<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
    </script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"></script>
  <style>
    button {
      margin-left: 10px;
    }

    .table td {
      vertical-align: initial !important;
    }
  </style>
</head>

<body style="padding: 20px 20px">
  <table class="table table-borderless">
    <thead>
      <tr class="table-secondary">
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">Age</th>
        <th scope="col">Phone</th>
        <th scope="col">Password</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="list-user">
    </tbody>
  </table>
  <button id="idBtnBack" type="button" class="btn btn-primary">Trở lại</button>
    <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table>
            <tr>
              <td>
                Email:
              </td>
              <td>
                <input id="int-email" class="input-text" type="text">
              </td>
            </tr>
            <tr>
              <td>
                Username:
              </td>
              <td>
                <input id="int-username" class="input-text" type="text">
              </td>
            </tr>
            <tr>
              <td>
                Age:
              </td>
              <td>
                <input id="int-age" class="input-text" type="text">
              </td>
            </tr>
            <tr>
              <td>
                Phone:
              </td>
              <td>
                <input id="int-phone" class="input-text" type="text">
              </td>
            </tr>
            <tr>
              <td>
                Password:
              </td>
              <td>
                <input id="int-password" class="input-text" type="text">
              </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="button" id="create-user" class="btn btn-primary" onclick="doneChange()">Hoàn tất</button>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  var urlId = window.location.pathname.split("/detail/")[1]
  $.ajax({
    url: "/general-all/" + urlId,
    method: "GET"
  })
    .then((data) => {
      if (!data.error) {
        $("#list-user").append(
          `
            <tr class="table-warning">
              <td class="add-class">${data.value[0].email}</td>
              <td class="add-class">${data.value[0].username}</td>
              <td class="add-class">${data.value[0].age}</td>
              <td class="add-class">${data.value[0].phone}</td>
              <td class="add-class">${data.value[0].password}</td>
              <td>
                <button onclick=myChange('${urlId}') id="btn-create" type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Thay đổi</button>
                <button onclick=myDelete('${urlId}') type="button" class="btn btn-danger">Xóa</button>
              </td>
            </tr>
          `
        )
      }
    }).catch((err) => {
      alert(err)
    });
  function myChange(id,data) {
    let arrEmail = $(".add-class")
    let arrSum = []
    for(let i = 0; i < arrEmail.length; i++) {
      arrSum.push(arrEmail[i].textContent)
    }
    $("#int-email").val(`${arrSum[0]}`)
    $("#int-username").val(`${arrSum[1]}`)
    $("#int-age").val(`${arrSum[2]}`)
    $("#int-phone").val(`${arrSum[3]}`)
    $("#int-password").val(`${arrSum[4]}`)
  }
  function doneChange() {
    var email = $("#int-email").val()
    var username = $("#int-username").val()
    var age = $("#int-age").val()
    var phone = $("#int-phone").val()
    var password = $("#int-password").val()
    $.ajax({
      url: "/general-all/" + urlId,
      method: "PUT",
      data: {
        email,
        username,
        age,
        phone,
        password
      }
    })
    .then((data) => {
      if (!data.error) {
        let arr1 = [data.value.email,data.value.username,data.value.age,data.value.phone,data.value.password]
        let arr2 = $(".add-class")
        console.log(arr2);
        for(let i = 0; i < arr1.length; i++) {
          arr2[i].innerHTML = `${arr1[i]}`
        }
      }     
    }).catch((err) => {
      alert(err)
    });
  }
  function myDelete(data) {
    $.ajax({
      url: "/general-all/" + urlId,
      method: "DELETE"
    })
    .then((data) => {
      alert(data.messenge)
      return window.location.href = "/general"
    }).catch((err) => {
      alert(err)
    });
  }
  $("#idBtnBack").click(() => {
    window.location.href = "/general"
  })
</script>
</html>